---
layout: default
---

{% for post in site.posts %}
  <section class="taylor-page" id="{{ post.page_id }}">
    <div class="page-header">
      <h1>{{ post.title }}</h1>
    </div>
    <p class="lead">{{ post.description }}</p>
    <div class="row">
      <div class="span3">
        {{ post.content }}
      </div>
      <div class="span5">
        {% for img_src in post.images %}
          <img src="/assets/img/{{ img_src }}" class="img-polaroid taylor-page-image">
        {% endfor %}
      </div>
    </div>
  </section>
{% endfor %}
